<div>
    <button class="ant-btn btn-cancel" data-action="cancel" type="button"><span>{{ Cancel }}</span></button>
    <button class="ant-btn btn-confirm ant-btn-primary" data-action="confirm" type="button"><span>{{ Ok }}</span></button>
</div>